table {
  width: 100%;
  height: 500px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
td, th {
  width: 25%;
}

.container {
  width: 80%;
  height: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 2px;
  margin-right: auto;
  margin-left: auto;
}

.form-field {
  margin: 0 8px 16px 0;
  width: 30%;
}

.form-group
{
  margin-top: 2%;
}

.example-loading-shade
{
  margin-left: 45%;
}

.mat-table
{
  overflow: auto;
  max-height: 88%;
}
