.box>div
        {
            background-color: #b9c9fe;
            text-align: center;
            padding-top: 2em;
            padding-bottom: 1em;
            border-radius: 4px;

        }

        .vertical-container {
            height: 80px;
            background: black;
            border-radius: 4px;
            color: white;

        }

